.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.heading {
  font-size: 1.2rem;
  cursor: default;
}

.block_inner {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
